<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.food_manager" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Food_Manager</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	
	<preference name="phonegap-version" value="cli-6.0.0" />
	<preference name="android-build-tool" value="gradle" />
	
    <preference name="android-targetSdkVersion" value="21" />
	<plugin name="cordova-plugin-geolocation" source="npm" spec="~2.1.0" />
	<plugin name="cordova-plugin-camera" source="npm" spec="~2.1.0" />
	
	
	
</widget>
